Repository step-security-bot/test_java: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs, update-languages-table, update-chart-version

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
  - repo: local
    hooks:
      - id: check-html-tabs
        name: Check HTML for tabs
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(src/main/resources/static/pdfjs|src/main/resources/static/pdfjs-legacy)
        files: ^.*(\.html|\.css|\.js)$
  - repo: local
    hooks:
      - id: update-languages-table
        name: Updated Tabel Language
        entry: python scripts/counter_translation.py
        language: python
        files: ^README.md$
  - repo: local
    hooks:
      - id: update-chart-version
        name: Updated Chart Version
        entry: python .github/scripts/gradle_to_chart.py
        language: python
        files: ^chart/stirling-pdf/Chart.yaml$
        additional_dependencies: [pyyaml]

Update messages_en_GB.properties
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Update check_language_properties.py
  .github/scripts/check_language_properties.py
Due: none

Update messages_pl_PL.properties (#75)
  src/main/resources/messages_pl_PL.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: update-languages-table

Update multiOSReleases.yml
  .github/workflows/multiOSReleases.yml
Due: none

Update build.gradle
  build.gradle
Due: none

convert
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertPDFToMarkdown.java
  src/main/resources/messages_sl_SI.properties
  src/main/resources/static/images/flags/si.svg
  src/main/resources/templates/convert/pdf-to-markdown.html
Due: check-duplicate-properties-keys, check-html-tabs

0.38.0
  src/main/resources/static/css/redact.css
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/pages/sign.js
  src/main/resources/static/js/pipeline.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/languages.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/login.html
  src/main/resources/templates/misc/compress-pdf.html
  src/main/resources/templates/releases.html
  src/main/resources/templates/sign.html
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Due: check-html-tabs

Update dependabot.yml
  .github/dependabot.yml
Due: none

verif
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update .gitignore
  .gitignore
Due: none
